{{ define "title" -}}
{{ .Title }}
{{- end }}
{{ define "main" -}}
<div class="blog-container">
<article class="blog-post">
<header class="blog-header">
<div class="blog-meta">
<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 2, 2006" }}</time>
 {{- if .Params.authors }}
<span class="authors">by {{ delimit .Params.authors ", " " and " }}</span>
 {{- end }}
 {{- if .Params.reading_time }}
<span class="reading-time">{{ .Params.reading_time }} min read</span>
 {{- else if .ReadingTime }}
<span class="reading-time">{{ .ReadingTime }} min read</span>
 {{- end }}
</div>

{{- /* Get tags specific to THIS post only */ -}}
{{- if .Params.tags -}}
{{- $postTags := slice -}}
{{- range .Params.tags -}}
 {{- $tagName := . -}}
 {{- $tagURL := printf "/tags/%s/" (. | urlize) -}}
 {{- /* Get the count for this specific tag from site taxonomy */ -}}
 {{- $tagCount := 0 -}}
 {{- if index $.Site.Taxonomies.tags (. | urlize) -}}
  {{- $tagCount = (index $.Site.Taxonomies.tags (. | urlize)).Count -}}
 {{- end -}}
 {{- $postTags = $postTags | append (dict "name" $tagName "count" $tagCount "url" $tagURL) -}}
{{- end -}}

{{- /* Only show tag cloud if this post has tags */ -}}
{{- if $postTags -}}
<div style="margin: 1.5rem 0;">
 {{ partial "tag-cloud.html" (dict "tags" $postTags "size" "small" "autoRotate" false) }}
</div>
{{- end -}}
{{- end -}}

</header>
<div class="blog-content">
 {{ .Content }}
</div>
 {{- if .Param "nextprev" }}{{ partial "nextprev.html" . -}}{{ end -}}
</article>
</div>
{{- end }}